.form-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input {
  height: 20px;
}

.create-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
}

.create-button:hover {
  background-color: #45a049;
}

.cancel-button:hover {
  background-color: #e53935;
}
